/* Imported Catamaran and Open Sans Font Families*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');

html {
    scroll-behavior: smooth;   
}    

h1 {
    font-family: 'Catamaran', sans-serif; 
    font-size: 32px;
}

p, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 18px;
}

/* Navigation */
.topNav {
    overflow: hidden;
    background-color: #000;
    top: 0;
    width: 100%;
    position: fixed;
    display: block;
    z-index: 1;
}

.topNav #myLinks {
    display: block;
    text-align: center;
    padding-top: 8px;
}

.topNav a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 24px;
    display: block;
}

.topNav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 22px;
}

.topNav a:hover {
    background: -webkit-linear-gradient(-85deg, rgb(225, 5, 149), #F0BB1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    margin: 0;
}

div.main {
    /* margin-left: 200px; */
    margin: 80px 0px 0px 0px;
    padding: 0px;
}

/* 404 page */
.page404 h1 {
    margin-top: 75px;    
}

.page404 h4 {
    margin-top: 60px;    
}

.page404 a {
    color: black;
}

.caseSpace404 {
    margin-top: 25px;
}

/* Home Page */

    .about, .myWork, .mySkills, .contactMe {
        margin: 0px;
    }

    #about {
        padding: 10rem 0px;
    }

    #work, #skills, #contact {
        padding: 6rem 0px;
    }

    #contact {
        padding-bottom: 10rem;
    }

    /* About Section */
    #niceToMeetYou {
        margin-bottom: 20px;
    }
    
    #introParagraph {
        font-size: 24px;
    }

    .textMe, .picMe {
        padding: 0;
    }

    .picMe {
        padding-left: 50px;
    }

    .homeHead {
        text-align: center;
        font-size: 30px;
        margin-bottom: 75px;
    }

    .contactHeading {
        text-align: center;
        font-size: 30px;
        margin-bottom: 25px;
    }

    /* My Work section */
    .myWork {
        background-color: #FAFAFA;
    }

        /* Case Study Cards */
        .card {
            border: none;
            border-radius: 10px;
            padding: 50px 75px;
        }

        .homeCards {
            margin-bottom: 100px;
        }
        
        .yellowCard {
            background-color: #FFFEEA;
            border: 3px solid #F2BD1D;
        }
        
        .purpleCard {
            background-color: #FFE7ED;
            border: 3px solid #9E0067;
        }
        
        .row {
            margin: 0px;
        }

        .edubeat, .ift, .fdcf {
            margin-bottom: 125px;
        }

        .workCards h4 {
            font-weight: bold;
            margin-bottom: 25px;
        }

        .yellowButton {
            background-image: linear-gradient(#FDF8A3, #fcf462);
            color: black;
            border-radius: 16px;
            border: 2px solid #F2BD1D;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 18px;
            width: 200px;
            height: 70px;
            margin-top: 20px;
        }

        .yellowButton:hover {
            background-image: linear-gradient(#fcf462, #FDF8A3);
        }

        .purpleButton {
            background-image: linear-gradient(#f7b0c4, #f16d92);
            color: black;
            border-radius: 16px;
            border: 2px solid #9E0067;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 18px;
            width: 200px;
            height: 70px;
            margin-top: 20px;
        }

        .purpleButton:hover {
            background-image: linear-gradient(#f16d92, #f7b0c4);
        }

    /* My Skills section */
    .flexContainer {
        display: flex;
        margin-bottom: 75px;
    }

    .skillCard h4 {
        font-weight: bold;
        text-align: center;
    }

    .skillCard p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .skillCard img {
        transform: scale(0.7, 0.7);
        border: 3px solid black;
        border-radius: 100%;
        width: 100%;
    }

    .toolIknow li {
        font-size: 100px;
    }

    .resumeButton {
        background-image: linear-gradient(#595959, #000000);
        color: white;
        border-radius: 16px;
        border: 2px solid black;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 18px;
        width: 200px;
        height: 70px;
    }

    .resumeButton:hover {
        background-image: linear-gradient(#000000, #595959);
    }

    .flexMe {
        margin-bottom: 125px;
    }

    .flexMe h4 {
        font-weight: bold;
    }

    /* Contact section */
    .contactMe {
        background-color: #FAFAFA;
    }

    .contactInfo h4 {
        font-weight: bold;
        margin-bottom: 15px;
    }

    .contactInfo a {
        color: black;
    }

    .contactInfo i {
        margin-bottom: 15px;
    }

    .faSize {
        font-size: 1.5rem;
    }

    .contactInfo {
        margin-top: 25px;
    }

/* Footer */    
.page-footer {
    background-color: black;
}

.page-footer p {
    font-size: 14px;
    color: white;
}

.page-footer li {
    display: inline-block;

}

.page-footer a {
    color: white;
    font-size: 40px;
    padding-right: 20px;
    text-decoration: none;
}

.copyright, .socials {
    z-index: 2;
}

/* General Case Study */
    /* Introduction Section */
    h5 {
        margin-bottom: 5px;
    }

    .heroIntro, .heroImage, .imageNoCaption {
        margin-bottom: 75px;
    }

    .headingBox {
        padding: 35px 0px;
        margin: 100px 0px 50px 0px;
    }

    .headingBox h3 {
        font-weight: bolder;
    }

    /* Table of Contents */
    .tocFirst {
        padding-left: 25px;
    }

    .tocSecond {
        padding-left: 50px;
    }

    .tocSecond a {
        font-size: 18px;
    }

    .tocSecond li {
        margin-bottom: 16px;    
    }

    .toc ul {
        list-style-type: none;
    }

    .toc a {
        color: black;
    }

    .headline {
        font-family: 'Catamaran', sans-serif;         
    }    

    #backtoEB, #backtoIFT, #backtoCC {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 25;
        font-size: 21px;
        color: white;
        border: none;
        outline: none;
        background-color: black;
        border-radius: 16px;
    }    

    #backtoEB:hover, #backtoIFT:hover, #backtoCC:hover {
        background-color: #595959;       
    }    

    /* User Research */
    .caseList {
        padding-left: 50px;
    }    

    .caseList li {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .caption {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
        font-size: 18px;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 16px;
    }    

    .userQuotes {
        margin: 50px 0px;
    }    

    /* Definition */
    .boldDefinition {
        margin: 50px 0px;
        text-align: center;
    }

    /* Prototype */

    /* Connect */
    .thankYou {
        font-family: 'Catamaran', sans-serif;
        text-align: center;
        font-size: 28px;
        margin: 100px 0px;
    }

    .caseClosed {
        background-color: #FAFAFA;
        padding-top: 50px;
        padding-bottom: 250px;
    }

    .caseClosed h3 {
        font-weight: bolder;
        margin-bottom: 50px;
    }

    .closeCards {
        margin-bottom: 50px;
    }


/* Edubeat Page */
    /* Introduction */
    .edubeatLogo {
        margin: 25px 0px;
    }

    /* User Research */
    .eduHeadingBox {
        background-color: #FFF8E6;
    }

    /* Ideation */
    .eduUserFlow {
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .ebUserFlow {
        margin-top: 25px;
    }

    /* Spacing */
        /* Heading */
        #whyEB, #ebLatest, #ebMainNav, #ebUserFlow, #ebMapping {
            margin-top: 50px;    
        }

        /* Images */
        .ebProcess, .ebEmpathyMap, .ebLowTestingEx, .uiInspiration, .uiStyleGuide, .phoneDisplay, .youtubeVideo {
            margin-top: 25px;    
        }


/* The Informed Traveler Page */
    /* Introduction */
    .iftLogo {
        margin: 25px 0px;
    }

    /* User Research */
    .iftHeadingBox {
        background-color: #ABD2DF;
    }

    /* Spacing */
        /* Heading */
        #whyIFT, #iftInterSurvResults, #iftFeatures, #iftFlow, #iftHigh {
            margin-top: 50px;    
        }

        /* Images */
        .iftProcess, .iftPersona, .iftPaperPrototypes, .iftFinal {
            margin-top: 25px;    
        }

        .iftJourneyMap {
            margin-top: 9px;    
        }

/* Child Care Page */
    /* User Research */
    .ccHeadingBox {
        background-color: #FFDD87;
    }

    #chromeFilesImg {
        max-width: 230px;
        max-height: 154px;
    }

    /* Spacing */
        /* Heading */
        #whyCC, #ccProblems, #ccCodedPrototype {
            margin-top: 50px;    
        }

        /* Images */
        .ccRedlining, .ccProcess {
            margin-top: 25px;    
        }

/* Responsiveness */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    /* Home Page */
        /* About section */
        #about {
            padding: 8rem 0px;
        }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    /* Home Page */
        .homeHead {
            margin-bottom: 75px;
        }

        /* About section */
        #about {
            padding: 7rem 0;
        }  

}

@media screen and (min-width: 576px) and (max-width: 768px) {

    /* Home Page */
        /* About section */
        #about {
            padding: 5rem 0;
        }

        .mediumMe {
            margin-top: 25px;
        }

        /* My Skills */
        .toolIKnow {
            margin-top: 50px;
        }
}

@media screen and (min-width: 768px) {
    .topNav a.icon {
        display: none;
    }

    .topNav a {
        display: inline-block;
    }

    #myLinks {
        display: inline-block;
        float: right;
    }

    #myLinks a {
        float: left;
    }
}

@media screen and (max-width: 768px) {
    /*  Navigation */
    .topNav #myLinks {
        padding-top: 0px;
        padding-bottom: 25px;
    }

    /* Home Screen */    
        /* Contact */
        .linkedIn {
            margin-top: 50px;
        }
}

@media screen and (max-width: 576px) {
    /* Home Screen */
        /* About */
        #about {
            padding: 5rem 0;
        }

        /* My Work */

        /* My Skills */
        .toolIKnow {
            margin-top: 50px;
        }

        /* Contact */
        .linkedIn {
            margin-top: 50px;
        }

}
